body {
  background-color: #DDDDDD;
  font-size: 12pt;
  line-height: 1.4;
  font-family: 'TeXGyreHeros', sans-serif;
}

.writing {
  text-align: justify;
  text-align-last: left;
  text-justify: inter-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  text-rendering: optimizeLegibility;
  hanging-punctuation: first last;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'TeXGyreHeros', sans-serif;
}

div.site {
  max-width: 727px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  size: 16pt;
}

a {
  color: #6BAFC3;
}

a:hover {
  text-decoration: underline;
}

    .navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 25px;
    }

    .navbar li a {
      text-decoration: none;
     
      color: black;
    }