body {
  background-color: #000000;
  font-size: 12pt;
  line-height: 1.4;
  font-family: 'TeXGyreHeros', sans-serif;
}


@font-face {
  font-family: 'Inter';
  src: url('inter-regular-webfont.woff2') format('woff2'),
       url('inter-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

div.site {
  max-width: 727px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  size: 16pt;
}

a {
  color: #6BAFC3;
}

a:hover {
  text-decoration: underline;
}
